{
  "/" : {
    "path" : "/",
    "security" : {
      "module" : "org.webswing.security.modules.demo.DemoSecurityModule",
      "classPath" : [ "${webswing.rootDir}/security/*" ]
    },
    "langFolder" : "${webswing.configDir}/lang",
    "homeDir" : "${user.dir}",
    "allowedCorsOrigins" : [ "*" ],
    "adminConsoleUrl" : "${webswing.admin.url}",
    "webFolder" : "${webswing.rootDir}/apps/selector"
  },
  "/drukmakorsivatag" : {
    "path" : "/drukmakorsivatag",
    "name" : "DrukmakorSivatag",
    "enabled" : true,
    "webHomeDir" : "${user.dir}",
    "webFolder" : "",
    "restrictedResources" : [ ],
    "fileViewers" : [ ],
    "langFolder" : "",
    "security" : {
      "module" : "INHERITED",
      "config" : { },
      "authorizationConfig" : {
        "users" : [ ],
        "roles" : [ ]
      },
      "securityContextPerTab" : false
    },
    "sessionMode" : "CONTINUE_FOR_BROWSER",
    "maxClients" : 10,
    "maxClientsPerUser" : -1,
    "allowStealSession" : true,
    "autoLogout" : true,
    "monitorEdtEnabled" : true,
    "loadingAnimationDelay" : 2,
    "recordingAllowed" : true,
    "recordingConsentRequired" : false,
    "mirroringAllowed" : true,
    "mirroringConsentRequired" : false,
    "uploadMaxSize" : 5,
    "dataStore" : {
      "module" : "INHERITED",
      "config" : { }
    },
    "swingConfig" : {
      "allowUpload" : true,
      "allowDownload" : true,
      "isolatedFs" : false,
      "sessionLogging" : false,
      "allowJsLink" : true,
      "javaFx" : false,
      "launcherType" : "Desktop",
      "timeoutIfInactive" : false,
      "prelaunchType" : "NONE",
      "homeDir" : "${webswing.rootDir}/apps/DrukmakoriSivatag",
      "theme" : "Murrine",
      "directdraw" : true,
      "latencyOptimizedRendering" : true,
      "debug" : false,
      "testMode" : false,
      "userDir" : "",
      "jreExecutable" : "${java.home}/bin/java",
      "javaVersion" : "21",
      "launcherConfig" : {
        "mainClass" : "GUI.Controller"
      },
      "swingSessionTimeout" : 300,
      "idleInstancesCount" : 0,
      "allowStatisticsLogging" : true,
      "allowDelete" : true,
      "allowAutoDownload" : false,
      "threadDumpsFolder" : "${webswing.rootDir}/datastore/dumps",
      "recordingsFolder" : "${webswing.rootDir}/datastore/recordings",
      "allowLocalClipboard" : true,
      "allowServerPrinting" : false,
      "fontEmbeddingEnabled" : false,
      "dockMode" : "NONE",
      "dockType" : "POPUP",
      "multiScreenSupportEnabled" : false,
      "advancedSettings" : [ ],
      "fontConfig" : { },
      "classPathEntries" : [ "*.jar" ],
      "jsLinkWhitelist" : [ "*" ],
      "javaFxVersion" : "11",
      "clearTransferDir" : true,
      "transferDir" : "${user}/upload",
      "transparentFileOpen" : true,
      "inactivityAction" : "SHUTDOWN",
      "transparentFileSave" : true,
      "sessionLogMaxFileSize" : "${webswing.sessionLog.maxSize:-1000MB}",
      "sessionLogFileSize" : "${webswing.sessionLog.size:-10MB}",
      "javaFxEmbeddedInJdk" : false
    }
  }
}